.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50% !important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 40px;
    height: 40px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}

.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15385px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998 !important;
}

.btn-li {
    color: #fff;
    background-color: #0082ca !important;
}

.btn-tw {
    color: #fff;
    background-color: #55acee !important;
}

.btn-git {
    color: #fff;
    background-color: #333 !important;
}

.btn-dribbble {
    color: #fff;
    background-color: #ec4a89 !important;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: unset !important;
}

.team-section .avatar img {
    max-width: 200px;
    height: auto;
}